

.flip-container{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
}

.flip-container:hover .back, .flip-container.hover .back{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
        
.flip-container{
    display:inline-block;
    height: 380px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top:20px;
}


 
 .front, .back {
    display:inline-block;
    width:100%;
    height: 380px;
    padding:0px;
    margin-bottom: 100px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;

    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    margin-left:20px;
    margin-right:20px;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.tile-gradient-overlay{
    background:    #D90026;
    }
.event-title{
    height:100%;
    width:100%;
    background-color: rgba(255,255,255,0.1);
        font-family: 'Arial';
        color:#000000;
    font-size:33px;
    /*line-height:60px;*/
    text-align:center;
    /*text-transform:uppercase;*/
        font-weight: bold;
    text-shadow: 1px 1px #a6a6a6;
}

  .logo {
      font-size: 200px;
  }

#tile-1, .tile-1a{
    overflow: hidden; 
    border-radius:2% 0% 15% 0%;
}

#tile-2, .tile-2a{
    overflow: hidden; 
    border-radius:0% 0% 15% 15%;
}

#tile-3, .tile-3a{
    overflow: hidden; 
    border-radius:0% 2% 0% 15%;
}

#tile-4, .tile-4a{
    overflow: hidden; 
    border-radius:0% 15% 15% 0%;
}

#tile-5, .tile-5a{
    overflow: hidden; 
    border-radius:15% 15% 15% 15%;
}

#tile-6, .tile-6a{
    overflow: hidden; 
    border-radius:15% 0% 0% 15%;
}

#tile-7, .tile-7a{
    overflow: hidden; 
    border-radius:0% 15% 0% 2%;
}

#tile-8, .tile-8a{
    overflow: hidden; 
    border-radius:15% 15% 0% 0%;
}

#tile-9, .tile-9a{
    overflow: hidden; 
    border-radius:15% 0% 2% 0%;
}
