
body
{
background-image: url(../images/competitions-background.jpg);
background-color: #FF0000;
}
	


h1
  { 
    color: #111;
    font-family: 'Strasua' ;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px; 
    line-height: 150%;
    text-align: center; 
  }

h2
{
    color: #111;
    font-family: 'strasua' ;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 50%;
    text-align: center; 
}

.comp-box
{
  border:2px solid #0094ff
}

.comp-box .content
{
  color:#333;
  padding:10px;
}
.comp-box .title 
{
  background:#0094ff;
  color:white;
  padding:10px;
}
.comp-box 
{
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
}

    
   
    
   


