

h1
  { 
    color: #111;
    font-family: 'Strasua' ;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px; 
    line-height: 150%;
    text-align: center; 
  }

h2
{
    color: #111;
    font-family: 'strasua' ;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 50%;
    text-align: center; 
}

div.comp-box {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #0094ff;
    clear: left;
    text-align: center;
}

.leftside
 {
    float: left;
    max-width: 350px;
    margin: 0;
    padding: 1em;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

article {
    margin-left: 10px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;

