
.flip-container{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
}

.flip-container:hover .back, .flip-container.hover .back{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
        
.flip-container, .front, .back {
    width: 300px;
    display:inline-block;
    height: 380px;
    margin-left: 10px;
    margin-right: 35px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;

    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.tile-gradient-overlay{
    background:    #D90026;
    }
.event-title{
    height:100%;
    width:100%;
    background-color: rgba(255,255,255,0.1);
    color:#ffffff;
    	font-family: 'Strasua';
    font-size:33px;
    /*line-height:60px;*/
    text-align:center;
    text-transform:uppercase;
        font-weight: bold;
    text-shadow: 1px 1px #a6a6a6
;

}

/* Style all font awesome icons */
.fa {
   padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    margin-right: 10px;
    float: right;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
        margin-right: 10px;
            float: right;


}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  margin-right: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     float: right;
     

}

.fa-youtube {
  background: #bb0000;
  color: white;
  margin-right: 10px;
    float: right;
}

.fa-instagram {
  background: #125688;
  color: white;
     margin-right: 10px;
    float: right;

}

.fa-google {
  background: #dd4b39;
  color: white;
      margin-right: 10px;
    float: right;

}


.jumbotron {
  opacity: 0.9;

    width: 90%;
    height: 120px;
      padding: 10px;
    margin: auto;

  }

  .logo {
      font-size: 200px;
  }
  @media screen and (max-width: 268px) {
    .col-sm-4 {
      text-align: left;
    }
  }

