/* Set-up Strasua font and use it for nav-bar and home-page header */
@font-face {
	font-family: 'Strasua';
    	src: url('fonts/Strasua.ttf'); 
    }

.header-cc  {
	font-family: 'Strasua';
	color:white;
      text-shadow: 2px 2px #a6a6a6

}

.left-nav {
	font-family:'Strasua';
}
.parallax {
    background-image: url(../images/3x3cube1.jpg);
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



		h2 {
		font-size: 40px;
		color: white;
		font-family: "Arial", cursive, sans-serif;
	
	}

	h1{
		font-family: 'Strasua';
		font-size: 80px;
		text-align: left;
		color:white;
}
	
	h3 {
		font-size: 40px;
		color: white;
		font-family: "Arial", cursive, sans-serif;
	}
	
  h4 {
    font size: 15px;
    color: white;
  	font-family: "Arial", cursive, sans-serif;
        text-align: center;
    text-decoration: underline;
        font-weight: bold;

  }

  h5 {
    font size: 15px;
    color: white;
  	font-family: "Arial", cursive, sans-serif;
        text-align: center;


  }
	


/* Set-up tinted background for pages */

.mybg-logo{
height:100vh;
background:linear-gradient(
      rgba(75, 0, 235, 0.81), 
      rgba(75, 0, 235, 0.81)
    ),url(../images/slider/complexity2016_group.jpg);
}

.mybg-home{

   background:linear-gradient(
      rgba(0, 0, 148, 0.81), 
      rgba(0, 0, 148, 0.81)
    ),url(../images/slider/complexity2016_group.jpg);
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.mybg-competitions{
height:100%;
  background-image:url(../images/slider/competitions-background.jpg);
	    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.mybg-blog{
height:100%;
background:linear-gradient(
      rgba(0, 104, 255, 0.81), 
      rgba(0, 104, 255, 0.81)
    ),url(../images/slider/complexity2016_group.jpg);
	    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.mybg-compguide{
height:100%;
	 background:linear-gradient(
      rgba(225, 0, 0, 0.81), 
      rgba(225, 0, 0, 0.81)
    ),url(../images/slider/complexity2016_group.jpg);
	    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}




.left-nav{
  line-height:1.5em;
}
.intro{
  background-color:#DADFCE;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Set up colors of tiles */
.nav-color1{
  background-color:#3700a5; 
}

.nav-color2{
  background-color:#da0000;
}

.nav-color3{
  background-color:#db5700;
}

.nav-color4{
  background-color:#e0c300;
}

.nav-color5{
  background-color:#00c400;
}

.nav-color6{
  background-color:#005ed5;
}


/* Set up colors of tiles for Modi*/
.nav-color1{
  background-color:#4B00EB; 
}

.nav-color2{
  background-color:#FF0000;
}

.nav-color3{
  background-color:#FF6A00;
}

.nav-color4{
  background-color:#FFE400;
}

.nav-color5{
  background-color:#00E900;
}

.nav-color6{
  background-color:#0080FF;
}


/* Over-write bootstrap to remove padding and margins */
.navbar{
  margin-bottom: 0px;
  border: 0px solid transparent;
}

.nav-pills > li + li {
  margin-left: 0px;
}

.nav-stacked > li + li {
  margin-top: 0px;
}


.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
  overflow-x: hidden;
  border-top: 0px solid transparent;

}

/* Hover-color of tiles */
.nav-color1:hover a:hover{
 background-color:#3700A5;
}

.nav-color2:hover a:hover{
 background-color:#DA0000;
}

.nav-color3:hover a:hover{
 background-color:#DB5700;
}

.nav-color4:hover a:hover{
 background-color:#E0C300;
}

.nav-color5:hover a:hover{
 background-color:#00C400;
}

.nav-color6:hover a:hover{
 background-color:#005ED5;
}

/*Remove horizontal bootstrap grid padding */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px;
  padding-right:0px;
}

.col-lg-10, .col-md-9, .col-sm-8{
overflow-x:hidden;
}


div.comp-box {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #0094ff;
    clear: left;
    text-align: center;
}

.leftside
 {
    float: left;
    max-width: 350px;
    margin: 0;
    padding: 1em;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

article {
    margin-left: 10px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
.flip-container{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
}

.flip-container:hover .back, .flip-container.hover .back{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
        
.flip-container, .front, .back {
    width: 300px;
    display:inline-block;
    height:361px;
    margin-left: 10px;
    margin-right: 35px;
    margin-bottom: 100px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;

    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.tile-gradient-overlay{
    background:    #D90026;
    }
.event-title{
    height:100%;
    width:100%;
    background-color: rgba(255,255,255,0.1);
    color:#ffffff;
    	font-family: 'Strasua';
    font-size:33px;
    /*line-height:60px;*/
    text-align:center;
    text-transform:uppercase;
        font-weight: bold;
    text-shadow: 1px 1px #a6a6a6
;

}
