
*, html {
    margin:0;
    padding:0;  
}

h1{
	color:red;
	background-color:black;
}

h2{
	color:blue;
}

#greenhead{
	color:green;
}

.intro{
	background-color:#DADFCE;
}




.left-nav{
	height:16.5vh;
	text-align: center;
	color:white;
}

.kek img{
	height:4.7vh;
}

.kek{
	position:relative;
	top:5.5vh;
	bottom:5.5vh;
	font-size:2.7vh;
}

.nav-color1{
	background-color:#4B1A4A; 
}

.nav-color2{
	background-color:#E10000;
}

.nav-color3{
	background-color:#F65D00;
}

.nav-color4{
	background-color:#009600;
}

.nav-color5{
	background-color:#0068FF;
}

.nav-color6{
	background-color:#000094;
}

