
h1{
	color:red;
	background-color:black;
}

h2{
	color:blue;
}

.mybg-logo{
height:100vh;
background:linear-gradient(
      rgba(75, 0, 235, 0.81), 
      rgba(75, 0, 235, 0.81)
    ),url(logos/complexity_cc.jpg);
}

.mybg-home{
height:100vh;
background:linear-gradient(
      rgba(225, 0, 0, 0.81), 
      rgba(225, 0, 0, 0.81)
    ),url(logos/complexity_cc.jpg);
}

.mybg-about{
height:100vh;
background:linear-gradient(
      rgba(246, 93, 0, 0.81), 
      rgba(246, 93, 0, 0.81)
    ),url(logos/complexity_cc.jpg);
}

.mybg-competitions{
height:100vh;
background:linear-gradient(
      rgba(0, 150, 0, 0.81), 
      rgba(0, 150, 0, 0.81)
    ),url(logos/complexity_cc.jpg);
}

.mybg-blog{
height:100vh;
background:linear-gradient(
      rgba(0, 104, 255, 0.81), 
      rgba(0, 104, 255, 0.81)
    ),url(logos/complexity_cc.jpg);
}


.mybg-compguide{
height:100vh;
background:linear-gradient(
      rgba(0, 0, 148, 0.81), 
      rgba(0, 0, 148, 0.81)
    ),url(logos/complexity_cc.jpg);
}


#greenhead{
	color:green;
}

.left-nav{
	line-height:1.5em;
}
.intro{
	color:white;
}

.nav-color1{
	background-color:#4B00EB; 
}

.nav-color2{
	background-color:#E10000;
}

.nav-color3{
	background-color:#F65D00;
}

.nav-color4{
	background-color:#009600;
}

.nav-color5{
	background-color:#0068FF;
}

.nav-color6{
	background-color:#000094;
}

/*3700A5, DA0000,DB5700,E0C300,00C400,005ED5*/

.navbar{
	margin-bottom: 0px;
	border: 0px solid transparent;
}

.nav-pills > li + li {
  margin-left: 0px;
}

.nav-stacked > li + li {
  margin-top: 0px;
}


.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
  overflow-x: hidden;
  border-top: 0px solid transparent;

}

.nopad .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px;
  padding-right:0px;
}

@media(max-width:767px){
.head-menu .left-nav{
	height:5vh;
	text-align: center;
	color:white;
}

.head-menu .kek{
	position:relative;
	top:0.25vh;
	font-size:1.7vh;
}

.head-menu .kek2 img{
	height:2.5vh;
}
}

@media(min-width:768px){
.left-nav{
	height:16.66vh;
	text-align: center;
	color:white;
}


.kek2 img{
	position:relative;
	top:3vh;
	height:8.7vh;
}

.kek{
	position:relative;
	top:5.5vh;
	bottom:5.5vh;
	font-size:2.7vh;
}
}
