h1{
	color:red;
	background-color:black;
}

h2{
	color:blue;
}

#greenhead{
	color:green;
}

.intro{
	background-color:#DADFCE;
}

.left-nav{
	height:16.5vh;
	color:white;
}

.nav-color1{
	background-color:#9C27B0; 
}

.nav-color2{
	background-color:#F44336;
}

.nav-color3{
	background-color:#FF5722;
}

.nav-color4{
	background-color:#74D106;
}

.nav-color5{
	background-color:#2196F3;
}

.nav-color6{
	background-color:#3F51B5;
}