

.flip-container{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    -webkit-transform-style: preserve-3d; 
    transform-style: preserve-3d; 
}

.flip-container{
    display:inline-block;
    height: 380px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top:10px;
}
.flip-container:hover .back, .flip-container.hover .back{
    width:100%;
    height:380px;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    width:100%;
    height:380px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
        


 
 .front, .back {
    display:inline-block;
    width:100%;
    height: 380px;
    padding:0px;
    margin-bottom: 100px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;

    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    margin-left:10px;
    margin-right:10px;
    height:380px;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.tile-gradient-overlay{
    background:    #D90026;
    padding-left:5%;
    padding-right:5%;
    height:380px;
    }
.event-title{
   /* height:100%;
    width:100%; 
    background-color: rgba(255,255,255,0.1);*/
        font-family: 'Arial';
        color:#000000;
    font-size:33px;
    line-height:40px;
    /*line-height:60px;*/
    text-align:center;
    /*text-transform:uppercase;*/
        font-weight: bold;
    text-shadow: 1px 1px #a6a6a6;
  
}

  .logo {
      font-size: 200px;
  }

.event-body > *{
    color:black;
}


.event-results {
    margin-top:4%;
    border-collapse: collapse;
    width:100%;
    line-height:25px;

}

.event-results td, .event-results th {
    border: 1px solid #ddd;
    
}   

.event-results tr:nth-child(even){background-color: #f2f2f2;}

.event-results tr:hover {background-color: #ddd;}

.event-results th {
   
    text-align: center;
    background-color: lightseagreen;
    color: white;
}

.event-body>h5>a, .result-link
{
    color:black;
    font-weight:bold;
    text-decoration:underline;
    text-align:center;
}


@media(max-width:1199px) and (min-width:768px)
{
.result-lg{
    display:none;
}
}

@media(max-width:767px)
{
.result-lg{
    display:table-cell;
}
}

@media(min-width:1200px)
{
.result-lg{
    display:table-cell;
}
}

