
body {
    background-image: url(../images/ao.gif);
    padding-top: 100px;
}


footer {
    padding: 30px 0;
}



.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 80%;
    margin-left:10%;
}
