body {
    background-image: url(../images/u2rYCFb.jpg);
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}



h1 {
	font-size: 34px;
}

h2 {
	font-size: 30px;
}

.container-fluid {
	margin-left: 5%;
	margin-right: 5%;
}

.sigma-icon {
	font-size: 72px;
	padding: 30px;
}

.contact-icon {
	font-size: 30px;
	padding: 0 20px 0 0;
	min-width: 50px;
}




.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}




.sigma-hr {
   	margin: 15px -15px !important;
}

.sigmapad {
	padding: 0 1px 1px 0 !important;
	margin: 0 !important;
}

.sigmano {
	padding: 0 !important;
	margin: 0 !important;
}

.sigma-home h1 {
	font-size: 48px;
}
.sigma-home p {
	font-size: 24px;
	color: #555;
	line-height: 44px;
}
.sigma-home {
	background: url(../images/ncro.png);
	background-size: 100% 100%;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
    background-position: center;
    background-repeat: no-repeat;
	

}

.space40 {
	margin-bottom: 40px;
}

.sigma-start {
	margin: 10px 10px;
	padding: 16px 40px;
	min-width: 200px;
	font-size: 22px;
	background-color: brown;
}

.sigma-content {
	padding: 60px 20px;
	padding-right:1%;
	padding-left:1%;
	margin-right:3%;
	margin-left:3%;
	margin-bottom:3%;
	margin-top:3%
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	height: 300px;
	border-radius:3px;
}

.sigma-section-header {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 80px;
	background-color: brown;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

@media(max-width:991px) and (min-width:768px){
.col-md-5{
		margin:20px;
	width: 87%}}
@media(max-width:1199px) and (min-width:992px){
.col-md-5{
	width:44%}}


@media(max-width:767px)
{
.col-md-5{
	margin:20px;
	width:87%}
}

@media(min-width:1200px)
{
.col-md-5{
	width:20%}
}

.form-group {
	margin: 20px 0;
}


.sigma-bg-lightgray {
	background-color: #696969;
		color: #FFF;

}

.sigma-bg-gray {
	background-color: #606060;
	color: #FFF;
}

.sigma-bg-darkgray {
	background-color: #666;
	color: #FFF;
}

.sigma-bg-black {
	background-color: #444;
	color: #FFF;
}



footer {
    padding: 30px 0;
}



.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 80%;
    margin-left:10%;
}
.table {
    width: 75%;
    height: 200px
    padding: 8px;
    border: 3px solid black
}
tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: white}

th {
    background-color: green;
    color: white;
}
h2 {
   		font-family: 'Strasua';
		font-size: 70px;
		text-align: center;
		color:white;
}
h3 {
   		font-family: 'Strasua';
		font-size: 40px;
		text-align: center;
		color:white;
}
h4 {
		font-size: 30px;
		text-align: center;
		color:white;
}
