@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
body {
    background-image: url(../images/ao.gif);
    padding-top: 100px;
}


footer {
    padding: 30px 0;
}



.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 80%;
    margin-left:10%;
}
