.col_fourth { 
	/*width: 10.5%;*/
	width: 110px;
    position: relative;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 20px;
}
.wrapper1 {width: 100%; margin: 30px auto; position: relative; text-align: center;}
.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px;}
.count-title { text-decoration: none; color: black; font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }
