
/* Set-up Strasua font and use it for nav-bar and home-page header */
@font-face {
	font-family: 'Strasua';
    	src: url('fonts/Strasua.ttf'); 
    }


h6 {
  	font-family: 'Strasua';
	 font-size: 80px;
	color: white;
	 font-weight: bold;
  	text-align: center;
	
	}
	
	p1 {
		font-size: 20px;
		color: white;
	`	font-family: 'Open Sans';
    		text-align: center;
	}

	p {
		font-size: 20px;
		color: white;
		font-family: 'Open Sans';
	}
	
	h5 {
		
	font-family: 'Strasua';
	 font-size: 80px;
	color: white;
	 font-weight: bold;
  	text-align: left;
}
	
.mybg-about{
    height: 130%;
    background-image: url(../images/ao.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
