@media(max-width:767px){
.left-nav{
  height:7vh;
  text-align: center;
  color:white;
}

.kek{
  position:relative;
  top:0.25vh;
  font-size:1.7vh;
}

.kek2 img{
  height:4.5vh;
	top:0vh;
}
}

@media(min-width:768px){
.left-nav{
  height:16.666vh;
  text-align: center;
  color:white;
}


.kek2 img{
  position:relative;
  top:2vh;
  height:11.7vh;
}

.kek{
  position:relative;
  top:5.5vh;
  bottom:5.5vh;
  font-size:2.7vh;
}
}

@media(min-width:1200px){
  .affix {
      top: 0px;
	width: 16.667%;
	  font-family: 'Strasua';
  }
}

@media(min-width:992px) and (max-width:1199px){
  .affix {
      top: 0px;
	width: 25%;
	  font-family: 'Strasua';
  }
}

@media(min-width:768px) and (max-width:991px){
  .affix {
      top: 0px;
	width: 33.334%;
	  font-family: 'Strasua';
  }
}




 /*timer countdown responsive*/
@media(max-width:402px){
    #clockdiv>div{
    margin-bottom: 20px;
    }
    #days-container{
      margin-left: 50px;
    }
    #hours-container{
      margin-right: 50px;
    }
}

@media(max-width:310px){
    #clockdiv>div{
    margin-bottom: 20px;
    }
    #days-container{
      margin-left: 20px;
    }
    #hours-container{
      margin-right: 20px;
    }
}

@media(min-width:538px) and (max-width:767px){
      .header-cc{
      font-size:60px;
    }

}

@media(max-width:537px){
      .header-cc{
      font-size:40px;
    }

}

@media(min-width:768px){
      .header-cc{
      font-size:80px;
    }

}

@media (max-width: 767px) {
  .nav-stacked.affix {
    position: static;
    width: auto;
    top:auto;
  }
}

@media (min-width: 768px) {
  .nav-stacked.affix {
    offset-top:0;
  }
}
